.layout {
  min-height: 100dvh;
}

.content {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--nav-height);
}

.main {
  flex: 1;
}

@media (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-columns: var(--sidebar-sm) 1fr;
    min-height: 100vh;
  }

  .content {
    padding-bottom: 0;
    min-height: 100vh;
  }
}

@media (min-width: 1024px) {
  .layout {
    grid-template-columns: var(--sidebar-lg) 1fr;
  }
}
